:root {
  --text: #102a42;
  --primary-1: #453227;
  --primary-2: #5f4435;
  --primary-3: #795744;
  --primary-4: #936a53;
  --primary-5: #ab7a5f;
  --primary-6: #b99179;
  --primary-7: #c5a491;
  --primary-8: #d1b6a8;
  --primary-9: #decbc0;
  --primary-10: #eaded7;
  --grey-1: #102a42;
  --grey-2: #243a52;
  --grey-3: #324d67;
  --grey-4: #48647f;
  --grey-5: #617d98;
  --grey-6: #829ab0;
  --grey-7: #9eb2c7;
  --grey-8: #bcccdc;
  --grey-9: #dae2ec;
  --grey-10: #f1f5f8;
  --grey-11: #f5f5f5;
}
